{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Health Connect</title>
    <link rel="stylesheet" href="{% static 'homepage.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static 'homepage2.css' %}">
</head>

<body style="/*background: url(&quot;design.jpg&quot;);*/background-position: 0 -60px;">
    <nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/">
                <img src="{% static 'healthconnectlogo.png' %}" width="40" height="40" alt="">
            <span>Health Connect</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#our-services">Services</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="/books">Resources</a></li>
                    <li class="nav-item"><a class="nav-link" href="/discuss">Discuss</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                </ul>
                {% if user.is_authenticated %}
                <a class="navbar-brand d-flex align-items-center" href="/profile"><img src="{% static 'images/cont.jpeg' %}" width="40" height="40"></a><a class="btn btn-primary shadow" role="button" href="/auth/logout/user">Log Out</a>
                {% else %}
                <a class="btn btn-primary shadow" role="button" href="/auth/loginpage/patient">Log In</a>&nbsp;
                <a class="btn btn-primary shadow" role="button" href="/auth/loginpage/institute">Institute Login</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <header class="bg-primary-gradient">
        <div class="container pt-5 pt-xl-5">
            <div class="row pt-5">
                <div class="col-12 text-center d-lg-flex justify-content-center align-items-center align-content-center">
                    <h1 class="display-4 text-uppercase fw-bolder text-center text-success">Health Connect</h1>
                </div>
                <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
                    <div class="text-center">
                        <h1 class="fs-2 fw-normal text-info">One Stop place for all your health needs.</h1>
                    </div>
                </div>
                <div class="col-12 col-lg-10 mx-auto">
                    <div class="position-relative" style="display: flex;flex-wrap: wrap;justify-content: flex-end;">
                        <div style="position: relative;flex: 0 0 45%;transform: translate3d(-15%, 20%, 0);"><img class="img-thumbnail img-fluid" src="{% static 'images/digihosp.jpg' %}" data-bss-parallax="" data-bss-parallax-speed="0.8"></div>
                        <div style="position: relative;flex: 0 0 45%;transform: translate3d(-5%, 5%, 0);"><img class="img-thumbnail img-fluid" src="{% static 'images/digihosp2.jpg' %}" data-bss-parallax="" data-bss-parallax-speed="0.4"></div>
                        <div style="position: relative;flex: 0 0 60%;transform: translate3d(0, -30%, 0);"><img class="img-thumbnail img-fluid" src="{% static 'images/doct5.jpg' %}" data-bss-parallax="" data-bss-parallax-speed="0.25" loading="lazy"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="our-services"></section>
    <section>
        <div class="container py-5">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <p class="fw-bold text-success mb-2">Our Services</p>
                    <h3 class="fw-bold">How we can help you with your health needs?</h3>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
                <div class="col mb-5"><img class="img-thumbnail img-fluid shadow" src="{% static 'images/doct.jpg' %}"></div>
                <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
                    <div>
                        <h5 class="fw-bold">One stop for all your reports and medical documents!!</h5>
                        <p class="text-muted mb-4">No need to worry about forgetting past reports while visiting a doctor. Health Connect got you covered.</p><a href="/books/"><button class="btn btn-primary shadow" type="button">See Collection</button></a>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
                <div class="col order-md-last mb-5"><img class="img-thumbnail img-fluid shadow" src="{% static 'images/steth1.jpg' %}"></div>
                <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
                    <div>
                        <h5 class="fw-bold">Health Score!!</h5>
                        <p class="text-muted mb-4">Calculate your health score based on your habits...</p><a href="/discuss/"><button class="btn btn-primary shadow" type="button">Discuss Now</button></a>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
                <div class="col mb-5"><img class="rounded img-fluid shadow" src="{% static 'images/doct4.jpg' %}"></div>
                <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
                    <div>
                        <h5 class="fw-bold">Get recommendations</h5>
                        <p class="text-muted mb-4">We can tell you if you need to see a doctor based on your symptoms.<br>Tell you the efficacy of the treatment.</p><button class="btn btn-primary shadow" type="button">Get It Done</button>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} <div class="container bg-primary-gradient py-5" id="team-details">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <p class="fw-bold text-primary mb-2">Our Developer Team</p>
                    <p class="text-muted w-lg-50">No matter the project, our team can handle it.&nbsp;</p>
                </div>
            </div>
            <div class="row row-cols-2 row-cols-md-3 mx-auto" style="max-width: 700px;">
                <div class="col mb-4">
                    <div class="text-center"><img class="rounded mb-3 fit-cover" width="150" height="150" src="{% static 'assets2/img/team/DSC01246.jpg' %}">
                        <h5 class="fw-bold mb-0"><strong>Aayush Goyal</strong></h5>
                        <p class="text-muted mb-2">Developer &amp; Owner</p>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="text-center"><img class="rounded mb-3 fit-cover" width="150" height="150" src="{% static 'assets2/img/team/avatar4.jpg' %}">
                        <h5 class="fw-bold mb-0"><strong>John Smith</strong></h5>
                        <p class="text-muted mb-2">Erat netus</p>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="text-center"><img class="rounded mb-3 fit-cover" width="150" height="150" src="{% static 'assets2/img/team/avatar2.jpg' %}">
                        <h5 class="fw-bold mb-0"><strong>John Smith</strong></h5>
                        <p class="text-muted mb-2">Erat netus</p>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
    </section>
    <section class="py-5">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <p class="fw-bold text-success mb-2">Contacts</p>
                    <h2 class="fw-bold">How you can reach us</h2>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div>
                        <form class="p-3 p-xl-4" method="post" action="/contactmsg/">{% csrf_token %}
                            <div class="mb-3"><input class="form-control" type="text" id="name-1" name="name" placeholder="Name"></div>
                            <div class="mb-3"><input class="form-control" type="email" id="email-1" name="email" placeholder="Email"></div>
                            <div class="mb-3"><textarea class="form-control" id="message-1" name="msg" rows="6" placeholder="Message"></textarea></div>
                            <div><button class="btn btn-primary shadow d-block w-100" type="submit">Send </button></div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4 col-xl-4 d-flex justify-content-center justify-content-xl-start">
                    <div class="d-flex flex-wrap flex-md-column justify-content-md-start align-items-md-start h-100">
                        <div class="d-flex align-items-center p-3">
                            <div class="bs-icon-md bs-icon-circle bs-icon-primary shadow d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon bs-icon-md"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-envelope">
                                    <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"></path>
                                </svg></div>
                            <div class="px-2">
                                <h6 class="fw-bold mb-0">Email</h6>
                                <p class="text-muted mb-0">healthconnect@gmail.com</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center p-3">
                            <div class="bs-icon-md bs-icon-circle bs-icon-primary shadow d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon bs-icon-md"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-pin">
                                    <path d="M4.146.146A.5.5 0 0 1 4.5 0h7a.5.5 0 0 1 .5.5c0 .68-.342 1.174-.646 1.479-.126.125-.25.224-.354.298v4.431l.078.048c.203.127.476.314.751.555C12.36 7.775 13 8.527 13 9.5a.5.5 0 0 1-.5.5h-4v4.5c0 .276-.224 1.5-.5 1.5s-.5-1.224-.5-1.5V10h-4a.5.5 0 0 1-.5-.5c0-.973.64-1.725 1.17-2.189A5.921 5.921 0 0 1 5 6.708V2.277a2.77 2.77 0 0 1-.354-.298C4.342 1.674 4 1.179 4 .5a.5.5 0 0 1 .146-.354zm1.58 1.408-.002-.001.002.001zm-.002-.001.002.001A.5.5 0 0 1 6 2v5a.5.5 0 0 1-.276.447h-.002l-.012.007-.054.03a4.922 4.922 0 0 0-.827.58c-.318.278-.585.596-.725.936h7.792c-.14-.34-.407-.658-.725-.936a4.915 4.915 0 0 0-.881-.61l-.012-.006h-.002A.5.5 0 0 1 10 7V2a.5.5 0 0 1 .295-.458 1.775 1.775 0 0 0 .351-.271c.08-.08.155-.17.214-.271H5.14c.06.1.133.191.214.271a1.78 1.78 0 0 0 .37.282z"></path>
                                </svg></div>
                            <div class="px-2">
                                <h6 class="fw-bold mb-0">Location</h6>
                                <p class="text-muted mb-0">Delhi Technological University</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'assets2/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets2/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script src="{% static 'assets2/js/bold-and-bright.js' %}"></script>
    <script src="{% static 'assets2/js/Lightbox-Gallery.js' %}"></script>
</body>

</html>